<!DOCTYPE html>
<html ng-app="fhirApp">
<head>
	<!-- These apps are cordova specifik -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy"/>
    <title>mHelse POC</title>

    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css"/>
    <script src="cordova.js"></script>
</head>
<body ng-controller="ObsController">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">mHealth Mobile App</a>
        </div>
    </div>
</nav>

<div class="container" ng-show="message">
<div class="alert alert-info">{{message}}</div>
</div>

<div class="container" ng-show="sensorMessage.message">
    <div class="alert alert-info">{{sensorMessage.message}}</div>
</div>

<ng-view/>

<div ng-hide="loggedIn" class="container">Loading now...</div>

<!-- Placing JS for better performance -->
<script src="js/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/easy-ble.js"></script>
</body>
</html>